body {
      background-color: white;
}

.truth {
      color: #4f46e5;
}

.india {
      color: #8b5cf6;
}

button {
      background-color: #4f46e5;
      color: white;
      border: none;
      padding: 8px 18px;
      border-radius: 6px;
      cursor: pointer;
}

button:hover {
      background-color: #8b5cf6;
}

nav {
       display: flex;
       align-items: center;
       gap: 20px;
       padding: 12px 20px;
       border-bottom: 1px solid #ddd;
}

nav b {
      font-size: 22px;
      margin-right: auto;
}
nav a {
       text-decoration: none;
      color: #333;
}
   


.post {
       width: 350px;
      margin: 20px auto;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 12px;
}
.username {
      font-weight: bold;
      margin: 0 0 10px 0;
}
.photo {
      background-color: #eee;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
      object-fit: cover;
}

.caption {
      margin: 10px 0 0 0;
}

button.liked {
      background-color: #1370eb;
}